/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/js
/storage/*.key
/storage/fonts
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/.vscode
/public/js
*.lock
package-lock.json